## Análisis de datos varamientos

In [4]:
# Usamos la librería pandas para leer archivos csv y excel en python
import pandas as pd
# Cargamos los archivos en el objeto "df_in"
df_in = pd.read_excel('biodiversidad-4.xlsx') # archivo convertido a formato excel antes de abrir aquí

In [13]:
# Revisamos las columnas totales
for name in df_in.columns.values:
    print('* ', name)

*  Código pauta
*  Nombre Pauta
*  Agendamiento
*  Nombre Fiscalizador
*  Región
*  Fecha del Varamiento
*  Cantidad de Ejemplares
*  Condición Vital
*  Condición Corporal
*  Tipo de Especie
*  Comuna
*  Tipo Cometido
*  Localidad
*  Sustrato
*  Latitud
*  Longitud
*  latGrados
*  latMinutos
*  latSegundos
*  lonGrados
*  lonMinutos
*  lonSegundos
*  Estado de Desarrollo
*  Sexo
*  Largo Aprox en metros
*  Peso Aprox en kilos
*  Heridas/Marcas
*  Acciones traslado / Centro de Atención / Rehabilitación
*  Participan Otras Instituciones
*  Se toman Muestras
*  Fecha de Inicio
*  Fecha de Término
*  Cuestionario Vinculante
*  Detalles del Evento

De todas las columnas, por ahora continuaremos solo con las siguientes: <br>

* Región
* Cantidad de Ejemplares
* Tipo de Especie

In [16]:
# Extraemos columnas de interés en un nuevo dataframe "df2"
df2 = df_in[['Región', 'Cantidad de Ejemplares', 'Tipo de Especie']]

In [22]:
# Revisamos la primera fila
df2.head(1)

,Región,Cantidad de Ejemplares,Tipo de Especie
0,10,1,"PI - Lobo Marino Común, Lobo de Un Pelo - Otar..."

In [24]:
# Convertimos el dataframe en una tabla tipo spreadsheet, donde
# las especies son columnas y las regiones son filas

tabla3 = pd.pivot_table(df2, values='Cantidad de Ejemplares', 
                        index='Región', columns='Tipo de Especie', aggfunc='sum')

In [26]:
# Últimos ajustes: reemplazar valores ausentes por ceros
tabla3.fillna(0,inplace=True)

In [31]:
# Últimos ajustes: reemplazar valores en formato decimal a formato número entero
tabla3 = tabla3.astype(int)

#### Resultado final
Table 3. Number of stranded specimens by species and geographical region

In [33]:
tabla3

Tipo de Especie,AV - Pingüino Rey - Aptenodytes patagonicus,AV - Pingüino de Humboldt - Spheniscus humboldti,AV - Pingüino de Magallanes - Spheniscus magellanicus,CE - Ballena Franca Austral - Eubalaena australis,CE - Ballena Jorobada - Megaptera novaeangliae,CE - Ballena Picuda de Cuvier - Ziphius cavirostris,CE - Ballena Picuda de Layard - Mesoplodon layardi,"CE - Ballena Sei, Rorcual Bacalao, Rorcual de Rudolphi - Balaenoptera borealis","CE - Ballena de Aleta, Rorcual Común, Fin - Balaenoptera physalus",CE - Cachalote - Physeter macrocephalus,...,Indeterminado,MU - Chungungo - Lontra felina,MU - Huillín - Lontra provocax,PI - Elefante Marino - Mirounga leonina,PI - Foca Leopardo - Hydrurga leptonyx,PI - Lobo Fino Austral - Arctocephalus australis,PI - Lobo Fino de Juan Fernández - Arctocephalus philippii,"PI - Lobo Marino Común, Lobo de Un Pelo - Otaria flavescens",QU - Tortuga Olivácea - Lepidochelys olivacea,QU - Tortuga Verde - Chelonia mydas
Región,,,,,,,,,,,,,,,,,,,,,
1,0,65,0,0,0,0,0,0,0,0,...,0,4,0,0,0,0,0,1892,0,0
2,0,415,25,0,0,0,0,0,0,1,...,0,0,0,1,0,2,0,8078,0,1
3,0,510,2,0,0,0,0,0,0,1,...,1,7,0,3,0,0,0,2375,1,0
4,0,650,71,0,0,0,1,0,0,1,...,0,12,0,1,1,6,1,1313,0,1
5,0,22,19,0,0,0,0,0,0,0,...,0,8,0,0,0,0,18,120,1,0
6,0,9,28,0,0,1,0,0,0,0,...,0,0,0,2,0,0,3,284,0,0
7,0,10,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,10,167,1,1
8,0,9,26,0,2,0,0,0,1,0,...,0,3,0,1,0,0,4,563,1,0
9,0,5,287,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,28,0,1
10,0,9,43,0,1,0,0,0,1,0,...,0,0,0,0,0,4,3,114,0,1
11,0,0,0,1,0,0,0,15,0,0,...,0,0,0,1,0,1,0,14,0,0
12,1,0,5,0,0,0,0,0,0,0,...,0,0,1,1,0,6,0,43,0,0
14,0,0,29,0,0,0,0,0,0,0,...,0,0,0,1,1,0,1,35,0,0
15,0,1083,0,0,0,0,0,0,0,0,...,0,6,0,1,0,0,0,4263,1,17
16,0,1,10,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,418,0,0

Al revisar la tabla resumen, podemos ver que la especie más afectada corresponde a **PI - Lobo Marino Común, Lobo de Un Pelo - Otaria flavescens**.

In [34]:
# Exportamos a archivo excel
tabla3.to_excel("Tabla resumen varamientos.xlsx")